/* Float Clearing
 ---------------------------------------------------------------------*/

.module:after
{
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}

/* float clearing for IE6 */
* html .module
{
  height: 1%;
  overflow: visible;
}

/* float clearing for IE7 */
* + html .module
{
  min-height: 1%;
}

/* Breadcrumb Styles
 ---------------------------------------------------------------------*/

.breadCrumbs{
   height:35px; 
  float:left; 
  width:964px;
}
.breadCrumb
{
  margin: -2px 12px 14px 12px;
  padding: 0;
  float: left;
  display: block;
  height: 24px;
  overflow: hidden;
  width: 100%;
 
}
.breadCrumb ul
{
  margin: 0;
  padding: 0;
  height: 21px;
  display: block;
}
.breadCrumb ul li
{
  display: block;
  float: left;
  position: relative;
  height: 21px;
  overflow: hidden;
  line-height: 21px;
  margin: 0px 4px 0px 0;
  padding: 0px 16px 0px 5px;
  font-size: .9167em;
  background: url(https://web/20250222152130im_/http://fic.gop.pk/css/images/Chevron.gif) no-repeat 100% 0;
}
.breadCrumb ul li div.chevronOverlay
{
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
}
.breadCrumb ul li span
{
  display: block;
  overflow: hidden;
}
.breadCrumb ul li a
{
  display: block;
  position: relative;
  height: 21px;
  line-height: 21px;
  overflow: hidden;
  float: left;
  color:#d90000;
}

.breadCrumb ul li.first
{
  height: 24px !important;
  text-indent:-1000em;
  width:31px;
  padding: 1px 0 0 7px;
  margin-right:0;
  overflow: hidden;
  z-index: -1111;
  background:url(https://web/20250222152130im_/http://fic.gop.pk/css/images/breadcrumb_home.png) no-repeat 0 0;
}
.breadCrumb ul li.first a
{
  height: 16px !important;
  text-indent:-1000em;
  width:16px;
  padding: 0;
  margin-top: 2px;
  overflow: hidden;
  background:url(https://web/20250222152130im_/http://fic.gop.pk/css/images/IconHome.gif) no-repeat 0 0;
}

.breadCrumb ul li.last
{
  background: none;
  margin-right: 0;
  padding-right: 0;
  color:#8a0303;
}












































/* EDITOR PROPERTIES - PLEASE DON'T DELETE THIS LINE TO AVOID DUPLICATE PROPERTIES */

/*
     FILE ARCHIVED ON 15:21:30 Feb 22, 2025 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 12:54:51 May 14, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.86
  exclusion.robots: 0.03
  exclusion.robots.policy: 0.013
  esindex: 0.015
  cdx.remote: 48.69
  LoadShardBlock: 111.957 (3)
  PetaboxLoader3.datanode: 50.227 (4)
  PetaboxLoader3.resolve: 154.651 (2)
  load_resource: 101.359
*/