.remoteContent { display: block; }



.playbutton {
    /*background: url("/web/20250222152128im_/http://fic.gop.pk/css/images/closebutton.png") no-repeat scroll 0 0 transparent;
    //background: url("/web/20250222152128im_/http://fic.gop.pk/scripts/shadowbox/play.png") no-repeat scroll 0 0 transparent;*/
    display: block;
    height: 39px;
    left: 87px;
    position: absolute;
    top: 40px;
    width: 40px;
    z-index: 100;
}

.vtrigger {
    display: block;
    margin-bottom: 10px;
    position: relative;
}

a {
    color: #063569;
}

/* Overlay
================================================================================*/

/* the overlayed element */
.apple_overlay {
  
  /* initially overlay is hidden */
  display:none;
  
  /* growing background image */
 background-image:url('https://web/20250222152128im_/http://fic.gop.pk/css/..images/overlay/apple.png');
  
  /*
    width after the growing animation finishes
    height is automatically calculated
  */
  width:714px;  
  margin: 0;
  
  /* some padding to layout nested elements nicely  */
  padding:35px;
  /* a little styling */  
  font-size:11px;
}

.contentWrap { padding: 7px 11px 7px 5px; _padding: 0; }

/* default close button positioned on upper right corner */
.apple_overlay .close {
  background-image:url('https://web/20250222152128im_/http://fic.gop.pk/css/images/overlay/close.png');
  position:absolute; right:5px; top:5px;
  cursor:pointer;
  height:35px;
  width:35px;
}

.vtrigger { display: block; margin-bottom: 10px; position: relative; }

.playbutton { position: absolute; display: block; top: 40px; left: 87px; background: url('https://web/20250222152128im_/http://fic.gop.pk/css/images/WMP_play_button.png') no-repeat 0 0; z-index: 100;  width: 40px; height: 39px; }


#fade { /*--Transparent background layer--*/
  display: none; /*--hidden by default--*/
  background: #000;
  position: fixed; left: 0; top: 0;
  width: 100%; height: 100%;
  opacity: .80;
  z-index: 9999;
}
.popup_block{
  display: none; /*--hidden by default--*/
  background: #fff;
  padding: 20px;
  border: 20px solid #ddd;
  float: left;
  font-size: 1.2em;
  position: fixed;
  top: 50%; left: 50%;
  z-index: 99999;
  /*--CSS3 Box Shadows--*/
  -webkit-box-shadow: 0px 0px 20px #000;
  -moz-box-shadow: 0px 0px 20px #000;
  box-shadow: 0px 0px 20px #000;
  /*--CSS3 Rounded Corners--*/
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
img.btn_close {
  float: right;
  margin: -55px -55px 0 0;
}
/*--Making IE6 Understand Fixed Positioning--*/
*html #fade {
  position: absolute;
}
*html .popup_block {
  position: absolute;
}




















/* EDITOR PROPERTIES - PLEASE DON'T DELETE THIS LINE TO AVOID DUPLICATE PROPERTIES */

/*
     FILE ARCHIVED ON 15:21:28 Feb 22, 2025 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 12:54:46 May 14, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.499
  exclusion.robots: 0.021
  exclusion.robots.policy: 0.008
  esindex: 0.011
  cdx.remote: 93.515
  LoadShardBlock: 157.144 (3)
  PetaboxLoader3.datanode: 153.49 (4)
  PetaboxLoader3.resolve: 170.548 (2)
  load_resource: 174.682
*/