/*! http://responsiveslides.com v1.54 by @viljamis */

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-left: 7px;
  z-index: -1111;
  }
  @media screen and (max-width:950px){
    .rslides{
         width: 97%;
    }
  }
  @media screen and (max-width:657px){
    .rslides{
         width: 96%;
    }
  }
  @media screen and (max-width:420px){
    .rslides{
         width: 95%;
    }
  }
  @media screen and (max-width:375px){
    .rslides{
         width: 94%;
    }
  }
  @media screen and (max-width:340px){
    .rslides{
         width: 93%;
    }
  }
  

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }

/*
     FILE ARCHIVED ON 15:21:35 Feb 22, 2025 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 12:56:53 May 14, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.755
  exclusion.robots: 0.032
  exclusion.robots.policy: 0.014
  esindex: 0.016
  cdx.remote: 1107.857
  LoadShardBlock: 143.178 (3)
  PetaboxLoader3.datanode: 117.289 (4)
  load_resource: 145.425
  PetaboxLoader3.resolve: 138.307
*/