/* Tabbed content ----------------------------------------- */


#supporttabs ul { list-style: none; margin: 0px; padding: 0; height: 28px; margin-left:2px; -moz-user-select: none; -khtml-user-select: none; user-select: none;}
#supporttabs ul li { float: left; list-style: none; margin:0px 2px 0px 0px; padding: 0; }

#supporttabs ul li a {
  text-decoration: none; float: left;
  padding: 0; height: 28px;
  cursor: pointer;
}

#supporttabs ul li a .tabMiddleOff{
  background: url("./css/images/tab_off_strip.png") repeat-x right top !important;
  color: #0b4790; float: left; display: inline-block;
  font-weight: bold; font-size:14px; text-align:center;
  height: 28px; line-height:28px; padding-left:5px; padding-right:5px;
}

#supporttabs ul li a .tabMiddleOn{
  background: url("./css/images/tab_on_strip.png") repeat-x right top;
  color: #FFFFFF; 
  float: left; 
  display: inline-block;
  font-weight: bold; 
  font-size:14px; 
  text-align:center;
  height: 28px; 
  line-height:28px; 
  padding-left:5px; 
  padding-right:5px;
}

#supporttabs ul li a .tabLeftOff{
  height: 28px;
  width:8px;
  float:left;
  background: url("./css/images/tab_off_left.png") no-repeat !important;
}

#supporttabs ul li a .tabRightOff{
  height: 28px;
  width:8px;
  float:left;
  background: url("./css/images/tab_off_right.png") no-repeat !important;
}
#supporttabs ul li a .tabLeftOn{
  height: 28px;
  width:8px;
  float:left;
  background: url("./css/images/tab_on_left.png") no-repeat;
}

#supporttabs ul li a .tabRightOn{
  height: 28px;
  width:8px;
  float:left;
  background: url("./css/images/tab_on_right.png") no-repeat;
}











































/* EDITOR PROPERTIES - PLEASE DON'T DELETE THIS LINE TO AVOID DUPLICATE PROPERTIES */

/*
     FILE ARCHIVED ON 15:21:26 Feb 22, 2025 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 12:54:39 May 14, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.903
  exclusion.robots: 0.041
  exclusion.robots.policy: 0.02
  esindex: 0.019
  cdx.remote: 79.804
  LoadShardBlock: 40.527 (3)
  PetaboxLoader3.datanode: 43.301 (4)
  load_resource: 75.418
  PetaboxLoader3.resolve: 47.837
*/